.benefits{
  padding-bottom: 120px;
& .subtitle, & .title{
  text-align: center;
}
  &__tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
  &__tab{
    padding: 10px 71px;
    display: flex;
    column-gap: 9px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #9A9CA5;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover{
      border: 1px solid #FF3F3A;
      border-radius: 4px;
      color: #FF3F3A;
      svg path{
        fill: #FF3F3A;
      }
    }
    &.active{
      border: 1px solid #FF3F3A;
      border-radius: 4px;
      color: #FF3F3A;
      svg path{
        fill: #FF3F3A;
      }
    }
  }
  &__content{
    display: none;
    column-gap: 150px;
    align-items: center;
    margin-top: 90px;
    &.active{
      display: flex;
    }
  }
  &__info {
    width: 50%;
    &-title{
      font-weight: 900;
      font-size: 32px;
      color: #1E212C;
      margin-bottom: 24px;
    }
    &-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #424551;
    }
  }
  &__img  {
    width: 50%;
  }
}


@media (max-width: 1024px) {
  .benefits__tab{
    padding: 10px 50px;
    font-size: 15px;
  }
  .benefits__info-title{
    font-size: 31px;
  }
}

@media (max-width: 992px) {
  .benefits__tab{
    padding: 10px 40px;
  }
  .benefits__info-title{
    font-size: 30px;
  }
}


@media (max-width: 886px) {
  .benefits__tab{
    padding: 10px 30px;
  }
  .benefits__info-title{
    font-size: 25px;
  }
}


@media (max-width: 676px) {
  .benefits{
    padding-bottom: 90px;
  }
  .benefits__tabs{
    margin-top: 50px;
  }
  .benefits__tab{
    padding: 8px 20px;
    font-size: 11px;
  }
  .benefits__subtitle{
    font-size: 10px;
  }
  .benefits__title{
    font-size: 25px;
  }
  .benefits__content{
    margin-top: 70px;
  }
  .benefits__info-title{
    font-size: 15px;
  }
  .benefits__info-text{
    font-size: 10px;
  }
}




