.events{
  padding: 80px 0;
  background: linear-gradient(55.95deg, #FF3F3A20 0%, #F75E0520 100%);
  & .subtitle, & .title{
    text-align: center;
  }
  &__card{
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    &:hover{
      box-shadow: 0 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    }
  }
  &__date{
    display: flex;
    align-items: center;
    column-gap: 20px;
    &-num{
      font-weight: 900;
      font-size: 48px;
      letter-spacing: 1px;
      color: #FF3F3A;
    }
    &-time{
      display: flex;
      flex-direction: column;
      font-weight: 700;
      font-size: 20px;
      color: #1E212C;
      span{
        font-weight: 400;
        font-size: 16px;
        color: #787A80;
      }
    }
  }
  &__info-title{
    font-weight: 700;
    font-size: 20px;
    color: #1E212C;
  }
  &__info-text{
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
    margin-top: 4px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 60px;
  }
  &__question{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    column-gap: 40px;
    &-text{
      font-weight: 700;
      font-size: 28px;
      color: #1E212C;
    }
  }


  @media (max-width: 1024px) {
    .events__card{
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
    }
  }
}

@media (max-width: 886px) {
  .enjoy__img{
    width: 44%;
  }
}

@media (max-width: 676px) {
  .events__subtitle{
    font-size: 10px;
  }
  .events__title{
    font-size: 25px;
  }
  .events__date-num{
    font-size: 30px;
  }
  .events__date-time{
    font-size: 15px;
  }
  .events__info-title{
    font-size: 14px;
  }
  .events__info-text{
    font-size: 14px;
  }
  .events__btn{
    padding: 10px 30px;
    font-size: 10px;
  }
  .events__question-text{
    font-size: 17px;
  }
}

