.question{
  padding: 180px 0;
  &__row{
    display: flex;
    column-gap: 135px;
    align-items: center;
  }
  &__img{
    width: 50%;
  }
  &__info{
    width: 50%;
  }

  &__title{
    margin: 8px 0 40px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 48px;
  }
  &__item{
    display: flex;
    column-gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
  }
}

@media (max-width: 886px) {
  .question{
    padding: 100px 0;
  }
  .question__row{
    column-gap: 60px;
  }
}

@media (max-width: 676px) {
  .question__subtitle{
    font-size: 9px;
  }
  .question__title{
    margin: 8px 0 15px;
    font-size: 21px;
  }
  .question__item{
    font-size: 10px;
  }
  .question__btn{
    padding: 12px 30px;
    font-size: 10px;
  }
}