.test{
  padding-bottom: 100px;
  background: #F4F5F7;
  & .title, & .subtitle{
    text-align: center;
  }
  &__comment{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    padding: 64px 105px;
  }
}

.testSwiper{
  margin-top: 60px;
  padding: 0 50px 60px;
  position: relative;
  &__swiper-pagination-bullet-active{
    background: #1E212C;
  }
}

.test__next{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.test__prev{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}


@media (max-width: 676px) {
  .test{
    & .subtitle{
      font-size: 12px;
    }
    & .title{
      font-size: 35px;
    }
    &__comment{
      font-size: 16px;
    }
  }
}